@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  overflow-y: scroll;
}

body { 
  background:black;
}
.footer {
  width:100%;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  height: 80px;
}
.bk-red{
  background-color:#ec3232
}
.theme-text{
  color: #ec3232;
}
.get-started {
  border-radius: 12px;
  height: 55px;
  width: 300px;
  margin-top: 1rem;
  background-color: #b31616d5;
  font-size: 15px;
}
.get-started-btn:active {
  box-shadow: 0 3px #6120206b;
  transform: translateY(2px);
}
.contact-title {
  margin-bottom: 1rem;
}
.contact-bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.st-box {
  height: 60px; 
  width: 400px;
  background-color: #7e4343;
  padding: 10px;
  border-radius: 10px;
}
.bt-box{
  height: 150px; 
  width: 400px;
  background-color: #7e4343;
  padding: 10px;
  border-radius: 10px;
}
.contact-btn{
  border-radius: 12px;
  height: 60px;
  width: 400px;
  background-color: #862323d5;
  font-size: 12px;
}
.contact-btn:active {
  box-shadow: 0 3px #6120206b;
  transform: translateY(2px);
}
.spline-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}